body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

div {
  margin-top: 50px;
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin-right: 20px;
  padding: 10px 20px;
}

a {
  text-decoration: none;
  color: #0077b6;
  font-weight: bold;
}

a:hover {
  color: #004d80;
}



/* Estilos de la tabla */
.table-style {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.table-style th,
.table-style td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ccc;
}

.table-style th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.table-style tr:nth-child(even) {
  background-color: #f9f9f9;
}

/* Estilos del enlace de descarga */
.download-link {
  color: #0f71b3;
  text-decoration: none;
}

.download-link:hover {
  text-decoration: underline;
}

/*Estilos del formulario de inicio de sesión */

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
}

label {
  color: #666666;
  font-size: 16px;
  margin-bottom: 10px;
}

input[type="text"],
input[type="password"] {
  width: 300px;
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

input[type="submit"] {
  width: 300px;
  padding: 10px;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
}

input[type="submit"]:hover {
  background-color: #0069d9;
}

.login-title {
  color: #0077b6;
  font-size: 39px;
  font-weight: bold;
  text-align: center;
  margin-top: 10%;
}






/*Estilos del apartado Registrarse */

.flash-messages {
  list-style-type: none;
  padding: 10px;
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
  margin-bottom: 10px;
}

.flash-message {
  margin-bottom: 5px;
}