<!DOCTYPE html>
<html>
  <head>
    <script src="https://unpkg.com/vue@2.6.14/dist/vue.min.js"></script>
    <script src="https://unpkg.com/survey-vue@1.9.84/survey.vue.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/survey-vue@1.9.84/defaultV2.min.css" />
  </head>
  <body>
    <!-- Esta variable se instancia en el servidor (flask) -->
    <!-- <div>Hola {{ nombre }}</div> -->
    <div id="app">
        <!-- Y esta en el navegador (vue) -->
        <!-- <div>Hola [[ nombre ]]</div> -->
        <div id="surveyElement">
            <survey-component />
        </div>
    </div>
    <script src="{{ url_for('static', filename='json.js') }}"></script>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
  </body>
</html>